.company_title_box{
  text-align: center;
}

.company_title_box{
  width: 100%;
  text-align: center;
}

.link_header{
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.link_box{
  width: 33.33%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
}

.content_image{
  margin: 1%;
}

img{
  max-width: 100%;
  height: auto;
}

.contact_footer{
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contact_box{
  width: 33.33%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
}
