{% extends "content_layout.html" %}

{% block content_image %}
  <div class="about_image">
    About Image
  </div>
{% endblock %}

{% block content_text %}
  <div class="about_text">
    Drewan Tech is a small family owned and run technology company created in 2015. We have been 
    working in the Defense Industry since 2006. We have experience working with a wide 
    variety of languages such as C++ and Python. We also have experience in a variety of environments 
    such as full stack, front end and embeded. We started our company to have the freedom to explore 
    cutting edge ideas and technology and find useful and cost effective ways to implement them in 
    a practical application. 

  </div>
{% endblock %}
