{% extends "content_layout.html" %}

{% block content_image %}
  <div class="services_image">
    <img src="{{ url_for('static', filename='cloud.jpg') }}">
  </div>
{% endblock %}

{% block content_text %}
  <div class="services_text">
    <div class="service_box">
      <div class="service_title">
        Software Development
      </div>
      <div class="service_text">
        Blah
      </div>
    </div>
    <div class="service_box">
      <div class="service_title">
        Software Deployment
      </div>
      <div class="service_text">
        Blah
      </div>
    </div>
  </div>
{% endblock %}
